<div class="container">
  <div class='left'>
  <h1> Federal Officials </h1>
  <dl id="federal">
    <% @candidates.each do |c| %>
    <dt>Last Name:</dt>
    <dd><a href='/candidates/<%= c.id %>'><%= c.candidate["firstName"] %><%= c.candidate["lastName"] %></a>
    | Office Position:
    <%= c.candidate["electionOffice"] %></dd>
    <% end %>
  </dl>
  </div>
  <div class='right'>
  <h1>San Francisco Officials</h1>
  <dl id="local">
  <% @local_candidates.each do |l| %>
  <dt>Last Name:</dt>
  <dd><a href='/candidates/<%= l.id %>'><%= l.local_candidate["firstName"] %><%= l.local_candidate["lastName"] %></a>
  | Current Title: <%= l.local_candidate["officeName"] %></dd>
  <% end %>
  </dl>
  </div>
</div>

