<img id="flag" src="http://www.dailystormer.com/wp-content/uploads/2015/03/61.jpg">
<div id="candidate-list">
<div class="page">
    <div class='left'>
      <h1 class='official'> Federal Officials </h1>
      <table style="width:100%" id="federal">
       <tr>
         <th>Last Name</th>
         <th>Office Position</th>
       </tr>

       <% @candidates.each do |c| %>
       <tr><td><a href='/candidates/<%= c.id %>'><%= c.candidate["firstName"] %>   <%= c.candidate["lastName"] %></a></td>

        <td><%= c.candidate["electionOffice"] %></td></tr>
        <% end %>

      </table>
    </div>
    <div class='right'>
      <h1 class='official'>San Francisco Officials</h1>
      <table style="width:100%" id="local">
       <tr>
         <th>Last Name</th>
         <th>Current Position</th>
       </tr>
       <% @local_candidates.each do |l| %>
       <tr>
        <td><a href='/candidates/<%= l.id %>'><%= l.local_candidate["firstName"] %> <%= l.local_candidate["lastName"] %></a></td>
        <td><%= l.local_candidate["officeName"] %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>

